.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/target/
doc/maven/repository/.cache/m2e/1.0.100/d9d714e11cb097b3ffcec91cccc65d3e/.lock
*.jar
doc/maven/
